:root {
    --background: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
}

header {
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

main {
    font-family: 'Space Mono', monospace;
    padding: 20px;
    display: grid;
    grid-template-rows: .25fr 1fr;
    gap: 20px
}

section {
    border: 2px black solid;
    
}

form {
    margin: 20px;
}

input, button {
    padding: 8px;
    margin: 8px;
}

#stats-section {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
#player-section,
#matchup-section,
#goblins-section {
    grid-row: 2;
    grid-template-columns: 1fr .25fr 1fr;
}

#player-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#player-stats {
    font-size: 80px;
}
#player-stats span {
    font-size: 40px;
}
#player-avatar {
    font-size: 200px;
}

#matchup-section {
    display: flex;
    align-items: center;
    justify-content: center;
}


.goblin {
    border: 1px black solid;
    margin: 20px;
    padding: 12px;
    font-size: 24px;
    cursor: pointer;
}
